.pdf-viewer {
  width: 100%;

  &-container {
    height: calc(100vh - 5rem);
    min-height: 31.25rem;
    width: 100%;
    border: 0.06rem solid #eee;
    border-radius: 0.25rem;
    overflow: hidden;
  }
}
