@use "../../../styles/base/vars" as *;
@use "../../../styles/base/mixins" as *;

.login__wrapper {
  @include flex-center;
  .login {
    font-family: $montserrat;

    width: 100%;
    max-width: 30rem;

    &-header {
      @include main-text;
    }

    &-form {
      @include flex-center;
      flex-direction: column;

      &-input {
        width: 100%;
      }
    }
  }
}
