@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/vars" as *;

.register {
  font-family: $montserrat;

  width: 100%;
  max-width: 30rem;

  flex-direction: column;
  &__wrapper {
    @include flex-center;
  }

  &-header {
    @include main-text;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input {
      width: 100%;
    }

  }
}
