.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  &-field {
    min-width: 12.5rem;
  }

  &-pagination {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  &-pagination-button {
    font-size: 0.8rem;
  }

  &-reset {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
