<ng-container *ngIf="!loading(); else loadingScreen">
  <div class="document-view">
    <button mat-stroked-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </button>

    <div class="document-view-header">
      <ng-container *ngIf="isUser; else readonlyName">
        <mat-form-field appearance="outline">
          <mat-label>Document name</mat-label>
          <input matInput [value]="name()" (input)="name.set($any($event.target).value)" />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          (click)="saveName()"
          [disabled]="name().trim() === initialName().trim()"
        >
          Save
        </button>
      </ng-container>

      <ng-template #readonlyName>
        <h1 class="document-view-header-name">
          Document name: <span>{{ document()?.name }}</span>
        </h1>
      </ng-template>

      <p class="document-view-header-status">
        Status: <span>{{ document()?.status }}</span>
      </p>

      <ng-container *ngIf="!isUser">
        <mat-form-field appearance="fill" class="status-select">
          <mat-label>Change Status</mat-label>
          <mat-select
            [value]="document()?.status"
            (selectionChange)="selectedStatus.set($event.value); changeStatus()"
            [disabled]="statusLoading()"
          >
            <mat-option *ngFor="let status of ['UNDER_REVIEW', 'APPROVED', 'DECLINED']" [value]="status">
              {{ status.replace('_', ' ').toLowerCase() | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <div class="document-view-actions" *ngIf="isUser">
        <button
          *ngIf="['DRAFT', 'REVOKE'].includes(document()?.status)"
          mat-raised-button
          color="warn"
          (click)="deleteDocument()"
        >
          Delete
        </button>

        <button
          *ngIf="document()?.status === 'READY_FOR_REVIEW'"
          mat-raised-button
          color="accent"
          (click)="revokeDocument()"
        >
          Revoke from Review
        </button>

        <button
          *ngIf="document()?.status === 'DRAFT'"
          mat-raised-button
          color="primary"
          (click)="sendToReview()"
        >
          Send to Review
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div id="pspdfkit-container" class="viewer-container"></div>

<ng-template #loadingScreen>
  <div class="fullscreen-loader">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
</ng-template>
