<div class="document-view" *ngIf="!loading(); else loadingSpinner">
  <div class="document-view-content">
    <app-back-button (goBackEvent)="goBack()"></app-back-button>

    <app-document-header
      [document]="document()"
      [isUser]="isUser"
      [isReviewer]="isReviewer"
      [statusLoading]="statusLoading()"
      [canDelete]="canDelete"
      [canRevoke]="canRevoke"
      [canSendToReview]="canSendToReview"
      (nameChange)="onNameChange($event)"
      (saveNameEvent)="saveName()"
      (deleteDocumentEvent)="deleteDocument()"
      (revokeDocumentEvent)="revokeDocument()"
      (sendToReviewEvent)="sendToReview()"
      (changeStatusEvent)="changeStatus($event)"
      (setUnderReviewEvent)="setUnderReview()"
    ></app-document-header>
  </div>

  <div class="document-view-pdf">
    <app-pdf-viewer [fileUrl]="document()?.fileUrl"></app-pdf-viewer>
  </div>
</div>

<ng-template #loadingSpinner>
  <app-loading-spinner [diameter]="100"></app-loading-spinner>
</ng-template>
