@use "../../../styles/base/vars" as *;

.viewer-container {
  height: calc(100vh - 5rem);
  padding: 0 1.5rem;
}

.document-view {
  padding: 1.5rem;

  font-family: $montserrat;

  &-header {
    &-name, &-status {
      font-weight: 500;

      span {
        font-weight: 700;
        text-decoration: underline;
      }
    }

    &-change-name {
      button {
        margin-left: 0.5rem;
      }
    }
  }

  &-back {
    margin-bottom: 1rem;
  }

  &-actions {
    display: flex;
    gap: 0.5rem;
  }
}
