@use "../../../styles/base/vars" as *;

.upload-modal {
  font-family: $montserrat;
  padding: 1rem;

  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }

  &-doc-name {
    font-family: $montserrat;
  }

  &-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .file-upload {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;

    .file-name {
      margin-left: 0.6rem;
      color: #666;
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 12.5rem;
    }
  }

  mat-dialog-content {
    min-height: 9.375rem;
    min-width: 25rem;
  }
}

