@use "../../../styles/base/vars" as *;

.upload-modal {
  font-family: $montserrat;
  padding: 1rem;

  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }

  &-doc-name {
    font-family: $montserrat;
  }

  &-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .file-upload {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .file-name {
      margin-left: 10px;
      color: #666;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }

  mat-dialog-content {
    min-height: 150px;
    min-width: 400px;
  }
}

