@use "styles/base/vars" as *;

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #e0e2ec inset !important;
  box-shadow: 0 0 0 1000px #e0e2ec inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.toast-success {
  background-color: #4caf50;
  color: white;
  font-size: 1.4rem;
}

.toast-error {
  .mdc-snackbar__surface {
    background-color: $error!important;
    color: white;
    font-size: 1.4rem;
  }
}

.error-msg {
  font-family: $montserrat;
  color: $error;
  font-size: 1.7rem;
}
