@use "../../../styles/base/vars" as *;

.dashboard {
  padding: 1rem;

  &-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;

    justify-content: space-between;
  }

  &-paginator {
    margin-top: 1rem;
    font-family: $montserrat;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
}
