<div class="dashboard" *ngIf="!loading(); else loadingSpinner">
  <div class="dashboard-header">
    <app-document-filters
      [isUser]="isUser"
      [isReviewer]="isReviewer"
      [users]="users()"
      [selectedStatus]="statusFilter()"
      [selectedCreatorId]="creatorFilter()"
      [selectedCreatorEmail]="creatorEmailFilter()"
      (statusChange)="onStatusChange($event)"
      (creatorChange)="onCreatorChange($event)"
      (creatorEmailChange)="onCreatorEmailChange($event)"
      (resetFiltersEvent)="resetFilters()"
      (nextUserPageEvent)="nextUserPage()"
      (prevUserPageEvent)="prevUserPage()"
    ></app-document-filters>

    <app-add-file-button
      *ngIf="isUser"
      (addFile)="onAddFile()"
    ></app-add-file-button>
  </div>

  <app-document-table
    [documents]="documents()"
    (sortChange)="onSortChange($event)"
  ></app-document-table>

  <mat-paginator
    class="dashboard-paginator"
    [length]="total()"
    [pageIndex]="page() - 1"
    [pageSize]="size()"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>

<ng-template #loadingSpinner>
  <app-loading-spinner [diameter]="100"></app-loading-spinner>
</ng-template>
