@use "../../../styles/base/vars" as *;

.no-documents {
  font-family: $montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2rem;
  margin: 20px 0;
  text-align: center;
  color: #666;
}

.dashboard {

  &-header {
    padding: 1.5rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 830px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem
    }
  }

  &-paginator {
    margin-top: 20px;
    font-family: $montserrat;
    font-size: 1rem;
    font-weight: 500;

    position: fixed;
    bottom: 0;
    width: 100%;

    z-index: 2;
  }

  &-table {
    margin: 1.5rem;
  }
}

mat-card {
  margin-bottom: 10px;
}

.add-file-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
